<header>
  <nav class="section_container nav_container">
    <div class="nav_logo">PrimeCare Hospital</div>
    <ul class="nav_links">
      <li class="link"><a routerLink="/">Home</a></li>
      <li class="link"><a routerLink="/about">About Us</a></li>
      <li class="link"><a routerLink="/services">Services</a></li>
      <li class="link"><a routerLink="/pages">Pages</a></li>
      <li class="link"><a routerLink="/blog">Blog</a></li>
    </ul>
    <a href="auth/login" target="_self"><button class="btn btn-outline-info">Login</button></a>

  </nav>

  <div class="section_container header_container">
    <div class="header_content">
      <h1>Dedicated to Your Health</h1>
      <p>
        With over 50 years of service, our hospital is committed to providing exceptional care tailored to each
        patient's needs. We combine advanced medical technology with a compassionate approach to ensure the best
        outcomes in a safe and nurturing environment.
      </p>
      <button class="btn">Discover Our Services</button>
    </div>
  </div>
</header>

<section class="section_container service_container">
  <div class="service_header">
    <div class="service_header_content">
      <h2 class="section_header">Our Special Service</h2>
      <p>
        Beyond simply providing medical care, our commitment lies in delivering unparalleled service tailored to your
        unique needs.
      </p>
    </div>
    <button class="service_btn">Ask A Service</button>
  </div>

  <div class="service_card">
    <span><i class="ri-flask-line"></i></span>
    <h4>Laboratory Test</h4>
    <p>Accurate Diagnostics, Swift results: Experience top-notch Laboratory Testing at our facility.</p>
    <a href="#">Learn More</a>
  </div>
  <div class="service_card">
    <span><i class="ri-capsule-line"></i></span>
    <h4>Pharmacy</h4>
    <p>
      Trusted online destination for all your healthcare needs. Explore our extensive selection of high-quality
      medications and health products in our convenient online shop.
    </p>
    <a href="#">Learn More</a>
  </div>
  <div class="service_card">
    <span><i class="ri-hospital-line"></i></span>
    <h4>Cancer Care</h4>
    <p>
      Our hospital offers a comprehensive cancer care program that includes diagnosis, treatment, and post-treatment
      support for all types of cancer.
    </p>
    <a href="#">Learn More</a>
  </div>
</section>

<section class="section_container about_container">
  <div class="about_container">
    <h2 class="section_header">About Us</h2><br />
    <p>
      We're a group of energetic, values-driven Doctors dedicated to caring for all people — young to young at heart.
      Since 2002, we've been combining exciting technology with a warm and friendly team to deliver exceptional
      healthcare in the city.
    </p><br />
    <p>
      We work with you to create a custom treatment plan that is specialized to your desires and goals. We know that it
      takes a lot of trust to put your smile in someone's hands, and we're honored to help you achieve the smile that
      you deserve!
    </p>
  </div>
  <div class="about_image">
    <img src="/assets/doctor care.jpg" alt="about" />
  </div>
</section>

<section class="section_container why_container">
  <div class="why_image">
    <img src="/assets/women doctor.jpg" alt="why choose us" />
  </div>
  <div class="why_content">
    <h2 class="section_header">Why Choose Us</h2>
    <p>
      With a steadfast commitment to your well-being, our team of high-quality trained healthcare professionals ensures
      that you receive nothing short of exceptional patient experiences.
    </p>
    <div class="why_grid">
      <span><i class="ri-hand-heart-line"></i></span>
      <div>
        <h4>Intensive Care</h4>
        <p>
          Our Intensive care unit is equipped with advanced technology and staffed by a team of professionals.
        </p>
      </div>
      <span><i class="ri-truck-line"></i></span>
      <div>
        <h4>Free Ambulance Service</h4>
        <p>A compassionate initiative to prioritize your health and well-being without any financial burden.</p>
      </div>
      <span><i class="ri-hospital-line"></i></span>
      <div>
        <h4>Medical and Surgical</h4>
        <p>Our Medical and surgical services offer advanced healthcare solutions to address medical needs.</p>
      </div>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="section_container footer_container">
    <div class="footer_col">
      <h3>PrimeCare Groups</h3>
      <p>
        We are honored to be a part of your healthcare journey and committed to delivering compassionate, personalized,
        and top-notch care every step of the way.
      </p>
      <p>
        Trust us with your health, and let us work together to achieve the best possible outcomes for you and your loved
        ones.
      </p>
    </div>
    <div class="footer_col">
      <h4>About us</h4>
      <p>Home</p>
      <p>About Us</p>
      <p>Work with Us</p>
      <p>Our Blog</p>
      <p>Terms & Conditions</p>
    </div>
    <div class="footer_col">
      <h4>Services</h4>
      <p>Search Terms</p>
      <p>Advanced Search</p>
      <p>Privacy policy</p>
      <p>Suppliers</p>
      <p>Our Stores</p>
    </div>
    <div class="footer_col">
      <h4>Contact Us</h4>
      <p><i class="ri-map-pin-2-fill"></i> Kazhakuttom, Trivandrum, Kerala</p>
      <p><i class="ri-mail-fill"></i> support@care.com</p>
      <p><i class="ri-phone-fill"> 9476130954</i></p>
    </div>
  </div>
  <div class="footer_bar">
    <div class="footer_bar_content">
      <p>Copyright 2024. All rights reserved.</p>
    </div>
  </div>
</footer>
