.header, .footer {
    background-color: #E6E6FA; /* Light violet color */
    padding: 10px;
    border-radius: 4px;
  }
  
  .custom-margin-search {
    margin-right: 10px;
  }
  
  .table-responsive {
    margin-top: 20px;
  }
  