<!-- File: patient-edit.component.html -->
<div class="container">
    <h2>Edit Patient</h2>
    <form (ngSubmit)="updatePatient()">
        <div *ngIf="patient">
            <div class="form-group">
                <label for="PatientName">Patient Name</label>
                <input type="text" id="PatientName" class="form-control" [(ngModel)]="patient.PatientName"
                    name="PatientName" required readonly>
            </div>
            <div class="form-group">
                <label for="Dob">Date of Birth</label>
                <input type="date" id="Dob" class="form-control" [(ngModel)]="patient.Dob" name="Dob" required readonly>
            </div>
            <div class="form-group">
                <label for="Gender">Gender</label>
                <select id="Gender" class="form-control" [(ngModel)]="patient.Gender" name="Gender" required disabled>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            <div class="form-group">
                <label for="BloodGroup">Blood Group</label>
                <input type="text" id="BloodGroup" class="form-control" [(ngModel)]="patient.BloodGroup"
                    name="BloodGroup" required readonly>
            </div>
            <div class="form-group">
                <label for="PhoneNumber">Phone Number</label>
                <input type="text" id="PhoneNumber" class="form-control" [(ngModel)]="patient.PhoneNumber"
                    name="PhoneNumber">
            </div>
            <div class="form-group">
                <label for="Address">Address</label>
                <textarea id="Address" class="form-control" [(ngModel)]="patient.Address" name="Address"></textarea>
            </div>
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="Email" id="Email" class="form-control" [(ngModel)]="patient.Email" name="Email" required
                    readonly>
            </div>
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </div>
    </form>
</div>