<div class="container">
    <!--List Medicine-->
    <div class="header">
        <div class="row">
            <!--Search Medicine button-->
            <div class="col-sm-8">
                <input type="search" class="form-control custom-margin-search" 
                placeholder="Search Text here" [(ngModel)] = "searchTerm"
                (input)="filterMedicines()">
            </div>
            <!--Add Medicine-->
            <div class="col-sm-4">
                <a [routerLink]="['/medicines/add']" role="button" class="btn btn-outline-primary custom-margin-add">
                    <i class="fa fa-plus fa-lg"></i>&nbsp;Add Medicine</a>
            </div>
        </div>       
    </div>
    
    <!--List Medicine--> 
    <table class="table table-bordered table-striped">
        <thead>
            <th>ID</th>
            <th>Medicine Name</th>
            <th>Generic Name</th>
            <th>Manufacturer Name</th>
            <th>Manufacturing Date</th>
            <th>Expiry Date</th>
            <th>Category</th>
            <th>Quantity</th>
            <th>Price Per Unit</th>
            <th>Dosage</th>
            <th>Action</th>
        </thead>
        <tbody>
           
            <tr *ngFor="let medicineMaster of filteredMedicines  |
            paginate: { itemsPerPage: 3, currentPage: page }">
                <td>{{medicineMaster.medicineId}}</td>
                <td>{{medicineMaster.medicineName}}</td>
                <td>{{medicineMaster.genericName}}</td>
                <td>{{medicineMaster.manufacturerName}}</td>
                <td>{{medicineMaster.manufacturingDate}}</td>
                <td>{{medicineMaster.expiryDate}}</td>
                <td>{{medicineMaster.category}}</td>
                <td>{{medicineMaster.quantity}}</td>
                <td>{{medicineMaster.pricePerUnit}}</td>
                <td>{{medicineMaster.dosage}}</td>
                <td>
                    <button type="button" class="btn btn-sm btn-outline-info"
                    (click) = "updateMedicine(medicineMaster)">
                        <i class="fa fa-edit"></i></button>
                    
                </td>
            </tr>
        </tbody>
    </table>

    <!--Footer-->
    <div class="footer">
        <pagination-controls (pageChange)="page = $event" class="float-right"></pagination-controls>
    </div>

</div>

