<div class="container">
  <h3>  Patient Registration Form</h3>
  <hr>
  <form name="frmPatient" #form="ngForm" autocomplete="off" (ngSubmit)="onSubmit(form)">
    <!-- PatientId: Hidden -->
    <div class="form-group">
      <label>PatientId</label>
      <input type="text" readonly name="PatientId" class="form-control"
        [(ngModel)]="receptionistService.patient.PatientId">
    </div>

    <!-- Patient Name -->
    <div class="form-group">
      <label>PatientName</label>
      <input type="text" name="PatientName" #PatientName="ngModel" class="form-control"
        [(ngModel)]="receptionistService.patient.PatientName" minlength="3" maxlength="25" required
        [ngClass]="{'is-invalid': PatientName.touched && PatientName.invalid}" />
      <!-- Validation Error Message -->
      <div class="validation-error" *ngIf="PatientName.touched && PatientName.invalid">
        <div *ngIf="PatientName.errors?.required">
          Patient Name is required!
        </div>
      </div>
    </div>

    <!-- Gender Field using Radio Buttons -->
    <div class="form-group">
      <label>Gender</label>
      <div>
        <label>
          <input type="radio" name="Gender" #Gender="ngModel" [(ngModel)]="receptionistService.patient.Gender" value="Male" required />
          Male
        </label>
        <label>
          <input type="radio" name="Gender" [(ngModel)]="receptionistService.patient.Gender" value="Female" required />
          Female
        </label>
        <label>
          <input type="radio" name="Gender" [(ngModel)]="receptionistService.patient.Gender" value="Other" required />
          Other
        </label>
      </div>

      <!-- Validation Error Message -->
      <!-- <div class="validation-error" *ngIf="receptionistService.patient.Gender === ''">
        <div *ngIf="!receptionistService.patient.Gender">
          Gender is required!
        </div>
      </div> -->
    </div>

    <!-- DOB -->
    <!-- <div class="form-group">
      <label>DOB</label>
      <input type="date" name="D" #dob="ngModel" class="form-control" [(ngModel)]="receptionistService.patient.DOB"
        required
        [ngClass]="{'is-invalid': DOB.touched && (DOB.invalid || isFutureDate(receptionistService.patient.DOB))}" />

      Validation Error Message -->

      <!-- <div class="validation-error"
        *ngIf=" DOB.touched && (DOB.invalid || isFutureDate(receptionistService.patient.DOB))">
        <div *ngIf="DOB.errors?.required">
          DOB is required!
        </div>
        <div *ngIf="isFutureDate(receptionistService.patient.DOB)">
          DOB cannot be a future date!
        </div>
      </div> 
    </div> -->
    <div class="form-group">
      <label>DOB</label>
      <input type="date" name="Dob" #Dob="ngModel" class="form-control" [(ngModel)]="receptionistService.patient.Dob"
        required
        [ngClass]="{'is-invalid': Dob.touched && (Dob.invalid || isFutureDate(receptionistService.patient.Dob))}" />

      <!-- Validation Error Message -->
      <div class="validation-error"
        *ngIf="Dob.touched && (Dob.invalid || isFutureDate(receptionistService.patient.Dob))">
        <div *ngIf="Dob.errors?.required">
          DOB is required!
        </div>
        <div *ngIf="isFutureDate(receptionistService.patient.Dob)">
          DOB cannot be a future date!
        </div>
      </div>
    </div>
    <!-- Blood Group -->
    <div class="form-group">
      <label>Blood Group:</label>
      <select name="BloodGroup" id="BloodGroup" #BloodGroup="ngModel" class="form-control"
        [(ngModel)]="receptionistService.patient.BloodGroup" required>
        <option value="" selected disabled>---Select Blood Group---</option>
        <option value="A+">A+</option>
        <option value="A-">A-</option>
        <option value="B+">B+</option>
        <option value="B-">B-</option>
        <option value="AB+">AB+</option>
        <option value="AB-">AB-</option>
        <option value="O+">O+</option>
        <option value="O-">O-</option>
      </select>

      <!-- Validation Error Message -->
      <div class="validation-error" *ngIf="BloodGroup.touched &&  BloodGroup.invalid">
        <div *ngIf=" BloodGroup.errors?.required">
          Blood Group is required!
        </div>
      </div>
    </div>

    <!-- PhoneNumber -->
    <div class="form-group">
      <label>PhoneNumber</label>
      <input type="text" name="PhoneNumber" #PhoneNumber="ngModel" class="form-control"
        [(ngModel)]="receptionistService.patient.PhoneNumber" minlength="10" maxlength="10" required
        pattern="^[6-9][0-9]{9}$" [ngClass]="{'is-invalid': PhoneNumber.touched && PhoneNumber.invalid}" />

      <!-- Validation Error Message -->
      <div class="validation-error" *ngIf="PhoneNumber.touched && PhoneNumber.invalid">
        <div *ngIf=" PhoneNumber.errors?.required">
          Phone number is required!
        </div>
        <div *ngIf=" PhoneNumber.errors?.minlength ||  PhoneNumber.errors?.maxlength">
          Phone number must be exactly 10 digits!
        </div>
        <div *ngIf=" PhoneNumber.errors?.pattern">
          Phone number must start with 6, 7, 8, or 9 and be 10 digits long!
        </div>
      </div>
    </div>

    <!-- Address -->
    <div class="form-group">
      <label>Address</label>
      <input type="text" name="Address" #Address="ngModel" class="form-control"
        [(ngModel)]="receptionistService.patient.Address" minlength="8" maxlength="50" required
        [ngClass]="{'is-invalid': Address.touched && Address.invalid}" />

      <!-- Validation Error Message -->
      <div class="validation-error" *ngIf=" Address.touched &&  Address.invalid">
        <div *ngIf=" Address.errors?.required">
          Address is required!
        </div>
        <div *ngIf=" Address.errors?.minlength">
          Address must be at least 8 characters long!
        </div>
        <div *ngIf=" Address.errors?.maxlength">
          Address must be less than 50 characters long!
        </div>
      </div>
    </div>

    <!-- Email -->
    <div class="form-group">
      <label>Email</label>
      <input type="email" name="Email" #Email="ngModel" class="form-control"
        [(ngModel)]="receptionistService.patient.Email" minlength="8" maxlength="50" required
        [ngClass]="{'is-invalid': Email.touched && Email.invalid}" />

      <!-- Validation Error Message -->
      <div class="validation-error" *ngIf="Email.touched && Email.invalid">
        <div *ngIf="Email.errors?.required">
          Email is required!
        </div>
        <div *ngIf="Email.errors?.minlength">
          Email must be at least 8 characters long!
        </div>
        <div *ngIf="Email.errors?.maxlength">
          Email must be less than 50 characters long!
        </div>
        <div *ngIf="Email.errors?.Email">
          Please enter a valid email address!
        </div>
      </div>
    </div>

    <!-- Submit -->
    <div class="form-group">
      <button type="submit" class="btn btn-lg btn-primary form-control" [disabled]="!(form.valid && form.dirty)">
        INSERT
      </button>
    </div>
  </form>
</div>